.centered {
  text-align: center;
  padding: 10px;
}

.btn-control {
  padding: 5px;
}

.player-container-minimize {
  text-align: center;
  bottom: 0;
  position: fixed;
  opacity: 0.85;
  width: 100%;
}

.name-song-minimize {
  margin: 5px;
  text-align: center;
  color: white;
}

.player-controls-minimize {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.player-container-full {
  height: 100vh;
  position: fixed;
  opacity: 0.85;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.name-song-full {
  padding-top: 15%;
  color: white;
  text-align: center;
}

.player-controls-full {
  margin-top: 5%;
  text-align: center;
}

.progress-bar-minimize {
  padding: 15px;
}

.time {
  color: white;
  float: left;
  padding: 5px 5px 5px 0;
  width: 5%;
}

.time-duration {
  color: white;
  float: right;
  padding: 5px 0 5px 5px;
}

#close-wrapper {
  padding: 5px;
}

.progress-bar-full {
  padding: 5%;
}

#label-nome {
  margin: 25px;
}

.p-slider.p-slider-horizontal {
  height: 0.5rem !important;
}

.video-minimize {
  object-fit: cover;
  height: 25%;
  width: 100%;
  position: fixed;
  bottom: 0;
  opacity: 0.75;
}

.video-full {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  opacity: 0.75;
}
/* MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
  .name-song-full {
    font-size: xx-large;
  }
}

@media only screen and (min-width: 800px) {
  .name-song-full {
    font-size: xx-large;
  }
  .player-controls-full {
    text-align: center;
  }
}
