.centered {
  text-align: center;
  padding: 10px;
}

.btn-control {
  padding: 5px;
}

.player-container-minimize-more-res {
  bottom: 0;
  position: sticky;
  background: #1b2736;
  width: 100%;
  padding: 2px;
  text-align: center;
}

.player-container-minimize {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #1b2736;
  padding: 2px;
  text-align: center;
}

.name-song-minimize {
  padding: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.player-controls-minimize {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.player-container-full:not(img) {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(27, 39, 54, 0.9);
}

.name-song-full {
  padding: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.player-controls-full {
  margin-top: 5%;
  text-align: center;
}

.progress-bar-minimize {
  padding: 15px;
}

.time {
  color: white;
  float: left;
  padding: 5px 5px 5px 0;
}

.time-duration {
  color: white;
  float: right;
  padding: 5px 0 5px 5px;
}

#close-wrapper {
  padding: 5px;
}

.progress-bar-full {
  padding: 5%;
}

#label-nome {
  padding: 18px;
}

.p-slider.p-slider-horizontal {
  height: 0.5rem !important;
}

.thumb {
  text-align: center;
  opacity: 1;
  color: white;
}

.align-left {
  float: left;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 600px) {
  .name-song-full {
    font-size: x-large;
  }
}

@media only screen and (min-width: 800px) {
  .name-song-full {
    font-size: x-large;
  }
  .player-controls-full {
    text-align: center;
  }
}
