<ng-container>
  <ng-container [ngTemplateOutlet]="minimize" *ngIf="!fullMode"></ng-container>
  <ng-container [ngTemplateOutlet]="opened" *ngIf="fullMode"></ng-container>
</ng-container>

<ng-template #minimize>
  <video
    src="../../assets/app-data/space.mp4"
    autoplay
    loop
    playsinline
    muted
    class="video-minimize"
  ></video>
  <div id="player-minimize" class="player-container-minimize">
    <div class="name-song-minimize">
      <div id="label-nome" (click)="onSwitchMode()">
        <strong>
          {{ branoSelezionato.titolo }}
        </strong>
      </div>
      <div id="label-artisti">
        <strong>
          {{ branoSelezionato.artista }}
        </strong>
      </div>
    </div>

    <div class="progress-bar-minimize">
      <p-slider
        [(ngModel)]="tempo"
        (onSlideEnd)="onProgressBarEnd($event)"
        (onChange)="onProgressBarChange($event)"
        [min]="0"
        [max]="100"
      ></p-slider>
      <div class="time">{{ attuale }}</div>
      <div class="time-duration">{{ durata }}</div>
    </div>

    <div class="player-controls-minimize">
      <p-button
        [icon]="'pi pi-backward'"
        [styleClass]="'p-button-rounded p-button-text'"
        (onClick)="onBackwordClick($event)"
      ></p-button>
      <p-button
        [icon]="isPlaying ? 'pi pi-pause' : 'pi pi-play'"
        [styleClass]="'p-button-rounded p-button-text'"
        (onClick)="onPlayClick($event)"
      ></p-button>
      <p-button
        [icon]="'pi pi-forward'"
        [styleClass]="'p-button-rounded p-button-text'"
        (onClick)="onForwardClick($event)"
      ></p-button>
    </div>
  </div>
</ng-template>

<ng-template #opened>
  <video
    src="../../assets/app-data/space.mp4"
    autoplay
    loop
    playsinline
    muted
    class="video-full"
  ></video>
  <div id="full-player" class="player-container-full" [@openClose]>
    <div id="close-wrapper" class="text-right">
      <p-button
        [icon]="'pi pi-times'"
        [styleClass]="'p-button-rounded p-button-text p-button-lg'"
        (click)="onSwitchMode()"
        pTooltip="Clicca per chiudere"
      ></p-button>
    </div>
    <div class="name-song-full">
      <strong>{{ branoSelezionato.titolo }} </strong>
      <h4>
        {{ branoSelezionato.artista }}
      </h4>
    </div>
    <div class="progress-bar-full">
      <p-slider
        [(ngModel)]="tempo"
        (onSlideEnd)="onProgressBarEnd($event)"
        (onChange)="onProgressBarChange($event)"
        [min]="0"
        [max]="100"
      ></p-slider>
      <div class="time">{{ attuale }}</div>
      <div class="time-duration">{{ durata }}</div>
    </div>
    <div class="player-controls-full">
      <p-button
        [icon]="'pi pi-backward'"
        [styleClass]="'p-button-rounded p-button-text p-button-lg'"
        (onClick)="onBackwordClick($event)"
      ></p-button>
      <p-button
        [icon]="isPlaying ? 'pi pi-pause' : 'pi pi-play'"
        [styleClass]="'p-button-rounded p-button-text p-button-lg'"
        (onClick)="onPlayClick($event)"
      ></p-button>
      <p-button
        [icon]="'pi pi-forward'"
        [styleClass]="'p-button-rounded p-button-text p-button-lg'"
        (onClick)="onForwardClick($event)"
      ></p-button>
    </div>
  </div>
</ng-template>
