.logo {
  width: 120px;
  height: 100%;
}

.blue {
  background: #1b2736;
}

#inputSearch,
#advanced,
#clean,
#search {
  margin-top: 5px;
}

#inputSearch {
  margin-right: 5px;
}
@media only screen and (max-width: 720px) {
  #inputSearch,
  #advanced,
  #clean,
  #search {
    margin-right: 0;
    width: 100%;
  }
}
