<div [ngSwitch]="enabledField$ | async">
  <ng-container
    *ngSwitchCase="tipiRicerca.BRANO"
    [ngTemplateOutlet]="risultatiSongs"
  ></ng-container>
  <ng-container
    *ngSwitchCase="tipiRicerca.VIDEO"
    [ngTemplateOutlet]="risultatiSongs"
  ></ng-container>
  <ng-container
    *ngSwitchCase="tipiRicerca.PLAYLIST"
    [ngTemplateOutlet]="playlist"
  ></ng-container>
  <ng-container
    *ngSwitchCase="tipiRicerca.ALBUM"
    [ngTemplateOutlet]="album"
  ></ng-container>
  <ng-container
    *ngSwitchCase="tipiRicerca.ARTISTA"
    [ngTemplateOutlet]="artista"
  ></ng-container>
</div>

<ng-template #risultatiSongs>
  <div style="background: #1f2d40">
    <p-message
      text="Si sta cercando per {{ enabledField$ | async }}"
      severity="info"
    ></p-message>
  </div>
  <div id="music-list-wrapper" *ngIf="braniService.risultatiRicerca.length > 0">
    <div
      *ngFor="let item of braniService.risultatiRicerca"
      class="list-item"
      pRipple
      (click)="onSelection(item)"
      [ngClass]="{ selected: item.selected }"
    >
      <img [src]="item.thumbnail" alt="🤷‍♂️" class="border-cover-2" />

      <span *ngIf="item.titolo && item.artista" class="data-info">
        <h4>{{ item.titolo }}</h4>
        {{ item.artista }}
      </span>
      <span *ngIf="!item.artista" class="data-info">
        <h3>{{ item.titolo }}</h3>
      </span>
      <span *ngIf="!item.titolo" class="data-info">
        {{ item.artista }}
      </span>
    </div>
  </div>
  <div id="no-results" *ngIf="braniService.risultatiRicerca.length === 0">
    <span>Nessun brano trovato.</span>
  </div>
</ng-template>

<ng-template #playlist>
  <div style="background: #1f2d40">
    <p-message text="Si sta cercando per playlist" severity="info"></p-message>
  </div>
  <div id="music-list-wrapper" *ngIf="braniService.risultatiRicerca.length > 0">
    <div
      *ngFor="let playlist of braniService.risultatiRicerca"
      class="list-item"
      pRipple
      (click)="onPlaylistClick(playlist)"
    >
      <img [src]="playlist.thumbnail" alt="🤷‍♂️" class="border-cover-2" />
      <span *ngIf="playlist.titolo && playlist.totalTrack" class="data-info">
        <h4>{{ playlist.titolo }}</h4>
        {{ "Numero di brani contenuti: " + playlist.totalTrack }}
      </span>
      <span *ngIf="!playlist.totalTrack" class="data-info">
        <h3>{{ playlist.titolo }}</h3>
      </span>
      <span *ngIf="!playlist.titolo" class="data-info">
        {{ "Numero di brani contenuti: " + playlist.totalTrack }}
      </span>
    </div>
  </div>
  <div id="no-results" *ngIf="braniService.risultatiRicerca.length === 0">
    <span>Nessuna playlist trovata.</span>
  </div>
</ng-template>

<ng-template #album>
  <div style="background: #1f2d40">
    <p-message text="Si sta cercando per album" severity="info"></p-message>
  </div>
  <div id="music-list-wrapper" *ngIf="braniService.risultatiRicerca.length > 0">
    <div
      *ngFor="let item of braniService.risultatiRicerca"
      class="list-item"
      pRipple
      (click)="onAlbumClick(item)"
    >
      <img [src]="item.thumbnail" alt="🤷‍♂️" class="border-cover-2" />

      <span *ngIf="item.titolo && item.artista" class="data-info">
        <h4>{{ item.titolo }}</h4>
        {{ item.artista }}
      </span>
      <span *ngIf="!item.artista" class="data-info">
        <h3>{{ item.titolo }}</h3>
      </span>
      <span *ngIf="!item.titolo" class="data-info">
        {{ item.artista }}
      </span>
    </div>
  </div>
  <div id="no-results" *ngIf="braniService.risultatiRicerca.length === 0">
    <span>Nessun album trovato.</span>
  </div>
</ng-template>

<ng-template #artista>
  <div style="background: #1f2d40">
    <p-message text="Si sta cercando per artista" severity="info"></p-message>
  </div>
  <div id="music-list-wrapper" *ngIf="braniService.risultatiRicerca.length > 0">
    <div
      *ngFor="let item of braniService.risultatiRicerca"
      class="list-item"
      pRipple
      (click)="onArtistaClick(item)"
    >
      <img [src]="item.thumbnail" alt="🤷‍♂️" class="border-cover-2" />

      <span class="data-info">
        <h4>{{ item.titolo }}</h4>
      </span>
    </div>
  </div>
  <div id="no-results" *ngIf="braniService.risultatiRicerca.length === 0">
    <span>Nessun'artista trovato.</span>
  </div>
</ng-template>
