/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html,
body {
  margin: 0;
  background: #1f2d40;
}
* {
  font-family: "Work Sans", sans-serif;
}
.spinner-text {
  font-size: 15px;
  color: white;
  padding: 10px;
}

@keyframes textColorChange {
  0% {
    color: #0000ff;
  }
  50% {
    color: #00ff00;
  }
  100% {
    color: #0000ff;
  }
}
/* Use @-webkit-keyframes for Safari/Chrome */

.pulse {
  animation: textColorChange 10s infinite;
  width: 160px;
  height: 160px;
}
/* Use -webkit-animation for Safari/Chrome */
