/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap");
html,
body {
  margin: 0;
  background: #1f2d40;
}
* {
  font-family: "Jost", sans-serif;
}
.spinner-text {
  font-size: 15px;
  color: white;
  margin: 30px;
}

.pulse {
  display: block;
  width: 160px;
  cursor: pointer;
  box-shadow: 0 0 0 #243857;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #696f75;
    box-shadow: 0 0 0 0 #696f75;
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #696f75;
    box-shadow: 0 0 0 0 #696f75;
  }
}

.border-cover-2 {
  outline: 2px dashed gray;
}

.no-content {
  font-size: 50px;
}

.border-cover-1 {
  outline: 1px dashed gray;
}

input[type="search"]:disabled {
  background: slategrey;
}

input[type="search"]:disabled::placeholder {
  color: black;
}
.p-inline-message.p-inline-message-error {
  margin-top: 5px;
  width: 100%;
}

.p-inline-message.p-inline-message-info {
  background: #696f75 !important;
  color: white !important;
  width: 100%;
  border: 1px solid #a1a9b1 !important;
}

.p-inline-message.p-inline-message-info .p-inline-message-icon {
  color: white !important;
}
