/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html,
body {
  margin: 0;
  background: #1f2d40;
}
* {
  font-family: "Work Sans", sans-serif;
}
.spinner-text {
  font-size: 15px;
  color: white;
  margin: 30px;
}

.pulse {
  display: block;
  width: 160px;
  cursor: pointer;
  box-shadow: 0 0 0 #243857;
  animation: pulse 1s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #243857;
    box-shadow: 0 0 0 0 #243857;
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #243857;
    box-shadow: 0 0 0 0 #243857;
  }
}

input[type="search"]:disabled {
  background: slategrey;
  font-style: italic;
}

.p-inline-message.p-inline-message-error {
  margin-top: 5px;
  width: 100%;
}
